<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/home.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital@1&family=PT+Serif+Caption&display=swap" rel="stylesheet">
    <title>Tabela - Futebol</title>
</head>
<body>
    <div class="home-container">
        <div class="camp-header">
            <img src="/assets/camp.png">
            <div>
                <h1>Campeonato Carioca</h1>
                <h3>2024 Temporada</h3>
            </div>
        </div>
        <div class="tab-rod">
            <div class="tabela">
                <h2>Tabela</h2>
                <div class="body-tab">
                   <div class="time header">
                    <p>Time</p>
                    <p>Pts</p>
                    <p>PJ</p>
                    <p>V</p>
                    <p>E</p>
                    <p>D</p>
                    <p>%</p>
                    <p>GF</p>
                    <p>GS</p>
                    <p>SG</p>
                </div>
                <% times.forEach((time, index) => { %>
                    <div class="time">
                        <div>
                            <p class="info <%= index < 3 ? 'primeiros-colocados' : (index >= times.length - 2 ? 'ultimos-colocados' : '') %>"><%= index + 1 %></p>
                            <p class="info" id="nome"><%= time.name %></p>
                        </div>
                        <p class="pontos"><%= 3* time.vitorias +  time.empates %></p>
                        <p><%= time.vitorias +  time.empates + time.derrotas%></p>
                        <p><%= time.vitorias %></p>
                        <p><%= time.empates %></p>
                        <p><%= time.derrotas %></p>
                        <p><%= Math.floor(((3* time.vitorias +  time.empates)/ (3*time.vitorias +  3*time.empates + 3*time.derrotas))*100)%></p>
                        <p><%= time.golsFeitos %></p>
                        <p><%= time.golsTomados %></p>
                        <p><%= time.golsFeitos - time.golsTomados %></p>
                    </div>
                <% }) %> 
                </div>  
                <div class="legenda">
                    <div id="verde"></div>
                    <p>semifinalista</p>
                    <div id="vermelho"></div>
                    <p>rebaixado</p>
                </div>
            </div>
            <div class="proximos-jogos">
                <h2>Próximos Jogos</h2>
                <div class="rodada">
                    <div class="rodada-curr">
                        <form action="/" method="GET" >
                            <input type="hidden" name="ant" value="<%= currentRodadaIndex - 1 %>">
                            <button type="submit" class="btn-left">&#9664;</button>
                        </form>
                        <h3>Rodada <%= rodadaAtual.numero %></h3>
                        <form action="/" method="GET" >
                            <input type="hidden" name="prox" value="<%= currentRodadaIndex + 1 %>">
                            <button type="submit" class="btn-right">&#9654;</button>
                        </form>
                        
                    </form>
                    </div>
                    
                        
                    <% rodadaAtual.jogos.forEach((jogo) => { %>
                        <div class="jogo">
                            <p><%= jogo.timeCasa %> vs <%= jogo.timeVisitante %></p>
                            <p>Data: <%= jogo.data %></p>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
